
.filters-back {
    width: 100%;
    margin-top: 10em;
}

.filters-span {
    width: 95%;
    float: left;
    margin: 0.5em;
}

.filters-dropdown {
    width: 95%;
    margin: 0.5em;
}

.filters-selected-category {
    float: left;
    margin-right: 1em;
    margin-bottom: .5em;
}


.filters-input {
    width: 25%;
    float: left;
    margin: 0.5em;
}

.filters-btn {
    margin-left: 16em;
    margin-bottom: 0.8em;
    margin-top: 1em;
}