
.header {
    position: absolute;
    z-index: 99; 
    padding: 1vh;
    width: 100vw;
}

.group-profile {
    float: right;
    margin-right: 2vw;
}

.group-login-logout {
    float: right;
}

.recommend {
    float: right;
    margin-right: 2vw;
}